<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681994242014-69hniht66ppus2kmleiqgs86oam9ejrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681994242014-69hniht66ppus2kmleiqgs86oam9ejrt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681994242014-e1ka22f7g7p63fb10dhrim96s45rds1f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyAQaaUevo0U1-uqBhWjRmiEtUFVqU1pA</string>
	<key>GCM_SENDER_ID</key>
	<string>681994242014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newera.captainapp</string>
	<key>PROJECT_ID</key>
	<string>roshn-bet</string>
	<key>STORAGE_BUCKET</key>
	<string>roshn-bet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681994242014:ios:610738d1585e8be4f6bf4f</string>
</dict>
</plist>